div,
h2,
h3,
h6,
form,
label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.clear {
	clear: both
}

.booking-form-w3layouts {
	box-sizing: border-box;
	font-family: Inter;
	padding: 3em 3em;
	background: rgba(238, 238, 238, 0.78);
	border: 1px solid rgba(168, 168, 168, 0.178);
	color: #000;
	width: 65%;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 10px
}

h2.sub-heading-agileits,
h3.sub-heading-agileits {
	display: inline-block;
	text-align: left;
	font-size: 29px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: .4em;
	padding: 0 25px 10px 0;
	font-weight: 400;
	letter-spacing: 2px;
	border-bottom: 2px solid #0091cd;
	font-family: Product Sans Medium Regular
}

.radio-section {
	text-align: left;
	margin: .7em 0
}

.radio-section h6 {
	display: inline;
	margin-top: 10px;
	color: #000;
	font-family: Product Sans Medium Regular;
	font-size: 22px;
	text-transform: capitalize;
	margin-bottom: .7em;
	font-weight: 400
}

.radio-section ul {
	display: inline
}

.radio-buttons-w3-agileits li input[type="radio"] {
	cursor: pointer
}

.radio-buttons-w3-agileits li label {
	color: #000;
	font-size: 13.5px;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: "Inter", sans-serif
}

.booking-form-w3layouts input[type="text"],
.booking-form-w3layouts input[type="email"],
.booking-form-w3layouts textarea,
select.form-control,
input#datepicker {
	width: 100%;
	font-weight: 300;
	color: #000;
	font-size: 14px;
	letter-spacing: 1.2px;
	padding: 10px 10px;
	outline: 0;
	background: rgba(255, 255, 255, 0);
	border: 0;
	border-bottom: 1px solid rgba(143, 143, 143, 0.27);
	box-sizing: border-box;
	font-family: "Inter", sans-serif
}

.booking-form-w3layouts textarea {
	resize: none;
	height: 80px
}

.field-agileinfo-spc {
	margin-bottom: 1em
}

.form-w3-agile-text {
	width: 100%
}

select.form-control option {
	background: #fff
}

.booking-form-w3layouts ::-webkit-input-placeholder {
	color: #000
}

.booking-form-w3layouts :-moz-placeholder {
	color: #000
}

.booking-form-w3layouts ::-moz-placeholder {
	color: #000
}

.booking-form-w3layouts :-ms-input-placeholder {
	color: #000
}

.booking-form-w3layouts label {
	font-size: 13.5px;
	color: rgba(255, 255, 255, 0.83);
	letter-spacing: 2px;
	font-weight: 400;
	position: relative;
	margin-bottom: 5px;
	display: inline-block;
	text-transform: capitalize
}

ul.radio-buttons-w3-agileits li {
	display: inline-block;
	margin: 0 2em
}

@media(max-width:1440px) {
	.booking-form-w3layouts {
		width: 73%
	}
}

@media(max-width:1366px) {
	.booking-form-w3layouts {
		width: 75%
	}
}

@media(max-width:1280px) {
	.booking-form-w3layouts {
		width: 80%
	}
}

@media(max-width:1080px) {
	.booking-form-w3layouts {
		width: 83%;
		padding: 2em 2.2em
	}
}

@media(max-width:1024px) {
	h2.sub-heading-agileits,
	h3.sub-heading-agileits {
		font-size: 22px;
		padding: 0 20px 7px 0
	}
	.field-agileinfo-spc {
		margin-bottom: .8em
	}
	.booking-form-w3layouts input[type="submit"],
	.booking-form-w3layouts input[type="reset"] {
		padding: .5em 3em;
		font-size: 1.1em
	}
}

@media(max-width:768px) {
	h2.sub-heading-agileits,
	h3.sub-heading-agileits {
		font-size: 21px;
		padding: 0 15px 7px 0
	}
	.radio-section h6 {
		font-size: 17px;
		letter-spacing: 1.5px
	}
	ul.radio-buttons-w3-agileits li {
		margin: 0 1em
	}
}

@media(max-width:667px) {
	h2.sub-heading-agileits,
	h3.sub-heading-agileits {
		font-size: 19px;
		letter-spacing: 1.5px
	}
	.booking-form-w3layouts {
		width: 86%;
		padding: 2em 2em
	}
	.booking-form-w3layouts input[type="text"],
	.booking-form-w3layouts input[type="email"],
	.booking-form-w3layouts textarea,
	select.form-control,
	input#datepicker {
		padding: 8px 10px
	}
	.field-agileinfo-spc {
		margin-bottom: .9em
	}
	h2.sub-heading-agileits,
	h3.sub-heading-agileits {
		margin-bottom: .6em
	}
}

@media(max-width:640px) {
	.booking-form-w3layouts input[type="submit"] {
		margin-right: .7em
	}
}

@media(max-width:600px) {
	.booking-form-w3layouts {
		width: 90%
	}
	.booking-form-w3layouts input[type="submit"],
	.booking-form-w3layouts input[type="reset"] {
		padding: .5em 2em
	}
}

@media(min-width:481px) {
	.main-flex-w3ls-sectns {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between
	}
	.form-w3-agile-text1,
	.form-w3-agile-text2 {
		flex-basis: 48.5%;
		-webkit-flex-basis: 48.5%
	}
}

@media(min-width:737px) {
	.triple-wthree {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between
	}
	.form-w3-agile-text11,
	.form-w3-agile-text22,
	.form-w3-agile-text33 {
		flex-basis: 32%;
		-webkit-flex-basis: 32%
	}
}

@media(max-width:480px) {
	ul.radio-buttons-w3-agileits li {
		margin: 0 .5em
	}
	.radio-section {
		margin: 1.3em 0 .7em
	}
	.booking-form-w3layouts {
		width: 85%
	}
	ul.radio-buttons-w3-agileits li {
		margin: 1em 0 0 .2em;
		display: block
	}
	.booking-form-w3layouts input[type="submit"],
	.booking-form-w3layouts input[type="reset"] {
		font-size: 1em
	}
	.booking-form-w3layouts textarea {
		height: 60px
	}
	.radio-section {
		margin: 1em 0 .7em
	}
}

@media(max-width:414px) {
	.booking-form-w3layouts {
		width: 90%
	}
	.booking-form-w3layouts {
		width: 90%;
		padding: 1.5em 1.7em
	}
}

@media(max-width:384px) {
	.booking-form-w3layouts input[type="submit"],
	.booking-form-w3layouts input[type="reset"] {
		float: none
	}
	.booking-form-w3layouts input[type="submit"] {
		margin-right: 0
	}
}

@media(max-width:320px) {
	.booking-form-w3layouts {
		width: 93%;
		padding: 1.3em 1.5em
	}
	h2.sub-heading-agileits,
	h3.sub-heading-agileits {
		font-size: 18px;
		letter-spacing: 1.4px;
		padding: 0 12px 5px 0
	}
}