
  
  /* body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 100px;
    overflow-x: hidden;
  } */
  
  .description {
    max-width: 600px;
    margin: 0 auto;
    color: rgba(229, 229, 229, 0.7);
  }
  
  div, img, footer {
    position: relative;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    /* text-transform: uppercase; */
    font-family: Inter;
    font-weight: 300;
  }
  
  h1 {
    font-size: 36pt;
  }
  
  .hotel-name {
    font-size: 20pt;
    color: #7fcff7;
  }
  

  p {
    font-size: 12pt;
    margin-bottom: 12pt;
    font-family: Inter;
  }
  
  strong {
    font-weight: 900;
    font-family: Poppins;
    color: #e5e5e5;
  }
/*   
  a {
    transition: color 0.25s ease-in-out;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #dff3fd;
  }
  a:visited {
    color: #dff3fd;
  } */
  /* li.active a, a:hover, a:active {
    color: #e5e5e5;
  } */
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .centered-y {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .distribution-map {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .distribution-map > img {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    left: -3%;
  }
  .distribution-map .map-point {
    cursor: pointer;
    outline: none;
    z-index: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
    transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
    transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    background: rgba(26, 26, 26, 0.85);
    border: 5px solid #7fcff7;
  }
  .distribution-map .map-point .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: overlay;
  }
  .distribution-map .map-point:active, .distribution-map .map-point:focus {
    margin: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    width: 300px;
    height: 220px;
    color: #e5e5e5;
    z-index: 1;
    transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
  }
  .distribution-map .map-point:active .content, .distribution-map .map-point:focus .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0s, 0s;
    transition-delay: 0.25s, 0s, 0s;
    transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    overflow: hidden;
  }
  .distribution-map .map-point:active .content a:hover, .distribution-map .map-point:active .content a:active, .distribution-map .map-point:focus .content a:hover, .distribution-map .map-point:focus .content a:active {
    color: #afe1fa;
  }